* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    /* Gradient background from light blue to dark blue */
    /* background: linear-gradient(to right bottom,   #fff, #085178b4); */
    background-image: url("image15.jpg");
    background-repeat: repeat-y; 
    /* Blur effect to mimic the soft, dreamy look */
    /* backdrop-filter: blur(10px);  */
    /* Fallback for browsers not supporting backdrop-filter */
    background-size: cover;
    /* background-attachment: fixed;  */
    
    /* Remove default margins and paddings */
    margin: 0;
    padding: 0;
    
    /* Full height to ensure the background covers the entire viewport */
    height: 100vh;
    
    /* Optional: Add some overflow hidden if you want to manage content overflow */
    /* overflow: hidden; */
  }
  
  /* If you want to add some subtle noise or texture, you could use an overlay */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("image.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.02;
    z-index: 1;
    pointer-events: none;
  }





            /* Break points */
    /* @media screen and (max-width: 600px) {
        body {
            width: 100%;
        }

        header {
            display: none;
        }

        .lotto-companies {
            flex-direction: column;
        }

        aside {
            margin: 0 10px;
        }
        aside img {
            width: 350px;
        }
        aside a {
            width: 300px;
        }

        footer .icon {
            margin: 0 10px;
            font-size: 30px;
        }
    } */

    .lotto-company ul::marker {
        list-style-position: inside;
    }
        /* 360px to 390 px */
    @media screen and (max-width: 390px) {
      

        
    }

        /* 320px device */
    @media screen and (max-width: 320px) {
      
        aside img {
            width: 310px;
        }
        aside p {
            text-align: center;
            margin: 0 10px;
        }
    }





